@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  width: auto;
  max-width: 50%;
  margin: auto;
  text-align: center; /* can use for image */
}

.image-container img {
  margin-bottom: 15px;
  width: 100%;
}

h1 {
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.75rem;
  margin-top: 25px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
  }
  .image-container {
    width: auto;
    max-width: 100%;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
  }
}
